.answer-container {
    display: flex;
    margin-bottom: 5px;
    width: 100%;
    font-size: 20px;
    border: ridge;
    background-color: #9370db;
}

.answer-option {
  padding: 10px 20px;
  background-color: #9370db;
  color: white;
}

.answer-text {
    padding: 15px;
    width: 100%;
}

.answer-container.hover {
    cursor: pointer;
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem pink inset;
    transform: translateY(-0.1rem);
    transition: 150ms;
}