.choice-container {
    display: flex;
    margin-bottom: 5px;
    width: 100%;
    font-size: 20px;
    border: ridge;
    background-color: #9370db;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: #9370db;
  color: white;
}

.choice-text {
    padding: 1.52rem;
    width: 100%;
}

.choice-container.hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem pink inset;
    transform: translateY(-0.1rem);
    transition: 150ms;
}