* {
  box-sizing: border-box;
}

:root {
  --light-purple-color: #ba55d3;
  --light-color: #fff;
  --dark-color: #000;
  --grey-color: #f2f2f2;
  --transition: all 300ms ease-in-out;
}

.body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.wrapper,
.done {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 100px 250px;
  text-align: center;
}

.btn {
  background-color: var(--light-purple-color);
  color: var(--light-color);
}

.row {
  display: flex;
  justify-content: space-between;
}

.hideQuestion {
  display: none;
}

.ol {
  list-style-position: inside;
}

.ol li {
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  color: var(--light-color);
  background-color: var(--light-purple-color);
  width: 250px;
  border-radius: 10px;
  font-size: 15px;
}

.ol li:active {
  background-color: aqua;
}

.done {
  display: none;
}
