.header {
padding: 20px;
background-color: white;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: large;
text-align: left;
display: flex;
}

.container{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: fit-content;
}

.text-center {
    text-align: center;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

